.example-spacer {
    flex: 1 1 auto;
  }
mat-toolbar {
  width: 100%;
  background-color: rgb(60, 116, 107);
  color: #fff;  
}

.logo {  
  margin: 20px;
  padding: 0;
  border: 0;
  width: 180px;
}

.hello_user {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}