.mat-form-field {
  height: 40px; /* Adjust the height value as needed */
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-top: 0; /* Adjust the top padding value as needed */
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-bottom: 2px; /* Adjust the bottom padding value as needed */
}

#btnAdicionarDespesa button {
  background-color: rgb(60, 116, 107);
  color: #fff;
}

.listaDeDespesas {   
    margin: 20px;
}
.calculos {
  margin: 20px;
}

#btnAdicionarDespesa {
  position: absolute;
  left: 5px;
  top: 10px;  
}
.filtroMes {
  position: absolute;
  left: 5px;
  top: 10px;
  
}
.editDespesaIcon {
  transform: rotate(285deg);
}

.containerSuperior {
  margin-left: 20px;
  margin-right: 20px;  
}

.small-mat-select {    
  position: absolute;
  right: 5px;
  top: 10px;     
}

 .filtroMes .mat-mdc-chip-selected {
  background-color: rgb(60, 116, 107);
  color:#fff;
} 

/* .mat-chip-list ::ng-deep .mat-chip-selected {
  color: red; 
} */

.rotuloTotais {
  display: block;
  width: 250px;
  float: left;
}