/* Filtros */
.container-filtros {
  
  display: grid;  
  grid-template-columns: [coluna-btn-add] 20% [coluna-filtro-mes] 60% [coluna-filtro-ano]20%;
  column-gap: 10px;  
  height: auto;
}

#divBtnAdicionarDespesa {
  grid-column: coluna-btn-add;
  justify-self: stretch;  
  margin-left: 20px;
  margin-top: 10px;  
}

#divBtnAdicionarDespesa button { 
  background-color: rgb(60, 116, 107);
  color: #fff;
  font-size: 12px;
}

.divFiltroMes {
  grid-column: coluna-filtro-mes;
  margin-top: 10px;
  justify-self: stretch;

}

.divFiltroMes .mat-mdc-chip-selected {  
  background-color: rgb(60, 116, 107);
  color:#fff;  
} 

.divFiltroAno {
  grid-column: coluna-filtro-ano;  
  margin-top: 10px;
  margin-right: 20px;
}


.divFiltroAno mat-form-field {  
  width: 80%;  
  
}
.divFiltroAno mat-select {
  font-size: 14px;  
}


/* Totalizadores */
.container-rotulos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  place-items: center;  
}

.calculos {
  background-color: aliceblue;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  justify-self: stretch;
}
#rotulo-saldo {
  margin-left: 20px;
}
/* Tabela de despesas */

.editDespesaIcon {
  transform: rotate(285deg);
}

.listaDeDespesas {   
  margin: 20px;
}
