<!-- <h2 mat-dialog-title *ngIf="despesa != null">{{despesa.descricaoItemDespesa}}</h2> -->

<mat-dialog-content>
    <form #f="ngForm" >
      <div *ngIf="despesa"> 
        <p class="tituloForm">
          Cadastrar Despesa
        </p>
        <input name="pagamentoId" type="hidden" [(ngModel)]="despesa.PagamentoId" />
        <mat-form-field appearance="fill">
          <mat-label>Data da despesa </mat-label>
          <input matInput [matDatepicker]="picker" name="DtItemDespesa"
          [(ngModel)]="despesa.DtItemDespesa">   

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <input matInput required name="DescricaoItemDespesa" 
          [(ngModel)]="despesa.DescricaoItemDespesa">
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput required name="ValorItemDespesa"
          [(ngModel)]="despesa.ValorItemDespesa">

        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Pagante</mat-label>
          <mat-select name="PaganteId" 
          [(ngModel)]="despesa.PaganteId">
            <mat-option *ngFor="let pg of pagantes | async" [value]="pg.id">
              {{pg.nomePagante + ' ' + pg.sobrenomePagante}}
            </mat-option>        
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>% pago </mat-label>
          <input matInput required name="PercentualPago" 
          [(ngModel)]="despesa.PercentualPago"
          >
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Despesa</mat-label>
          <mat-select name="TipoItemDespesaId"
          [(ngModel)]="despesa.TipoItemDespesaId">
            <mat-option *ngFor="let pg of tiposDespesas | async" [value]="pg.id">
              {{pg.nomeTipoItemDespesa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Categoria da Despesa </mat-label>
          <mat-select ngModel name="CategoriaItemDespesaId"
          [(ngModel)]="despesa.CategoriaItemDespesaId">
            <mat-option *ngFor="let pg of categoriasDespesas | async" [value]="pg.id">
              {{pg.nomeCategoriaItemDespesa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />    
      </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="despesa">

  <button mat-raised-button
          (click)="close()">
    Fechar
  </button>  
<div id="create-button">
  <button mat-raised-button #createButton
  [disabled]="f.invalid" (click)="save(f.value)" *ngIf="!despesa.PagamentoId">
    Criar 
  </button>
</div>
<div id="save-button">
  <button mat-raised-button #saveButton *ngIf="despesa.PagamentoId"
  [disabled]="f.invalid" (click)="editar(f.value)">
    Salvar
  </button>
</div>
  
</mat-dialog-actions>


