
<mat-card>
    <mat-card-title>
      <img src="/assets/images/logo3.png" alt="" class="logo" /> 
    </mat-card-title>
    
<mat-card-content>
<form #f="ngForm" (ngSubmit)="submit()">

  <p>
    <mat-form-field>
      <input type="text" [(ngModel)]="login.Email" matInput placeholder="Username" name="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" [(ngModel)]="login.Password" matInput placeholder="Password" name="password">
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <p>
    <mat-checkbox [(ngModel)]="login.RememberMe" name="rememberMe"></mat-checkbox>  Lembrar-me
  </p>

  <button type="submit" mat-raised-button class="loginButton">Login</button>

</form>
</mat-card-content>
</mat-card>