:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-mdc-form-field {
  min-width: 350px;
}
.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.mat-form-field {
  width: 100%;

}

mat-card-title,
mat-card-content {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.error {
  padding: 16px;
  color: white;
  background-color: red;
}

button.loginButton {
  min-width: 350px;
  display: flex;
  color: #ffffff;
  background-color: rgb(60, 116, 107);

}